==
<div class="banwrap">
  <div class="banstyle"></div>
<div class="wrap3">
  <div id="bannerCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

    </div>
    <div class="carousel-inner" role="listbox">
    <div class="item active"> <img src="{{ 'assets/images/banner/img1.jpg'|theme }}" alt=""> </div>
      <div class="item"> <img src="{{ 'assets/images/banner/img2.jpg'|theme }}" alt=""> </div>
      <div class="item"> <img src="{{ 'assets/images/banner/img3.jpg'|theme }}" alt=""> </div>
      <div class="item"> <img src="{{ 'assets/images/banner/img4.jpg'|theme }}" alt=""> </div>
      <div class="item"> <img src="{{ 'assets/images/banner/img5.jpg'|theme }}" alt=""> </div>
      
    </div>
  </div>
</div>
</div>